<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="style.css" />
    <title>Batches</title>
  </head>
  <body>
    <h1>Fermentation Notebook</h1>
    <h2>Batches</h3>
    {{ range $b := .Batches.Batches }}
    <p>
      <h3>{{ $b.Name }}: {{ $b.Type }}</h3>
      <p>Next step: {{ date $b.NextEvent }} (in {{ until $b.NextEvent }})</p>
      <ul>
        {{ range $e := $b.History }}
        <li>
          {{ $e.Date }}, {{ $e.Name }}
          <p>{{ nl2br $e.Comment }}</p>
        </li>
        {{ end }}
      </ul>
    </p>
    {{ end }}
    <h2>Methods</h2>
    {{ range $n, $m := .Methods.Methods }}
    <p>
      <h3>{{ $n }}</h3>
      <ul>
        {{ range $s := $m.Steps }}
        <li>
          {{ $s.Name }}: {{ $s.Duration }}
        </li>
        {{ end }}
      </ul>
    </p>
    {{ end }}
  </body>
</html>

