<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="style.css" />
    <title>Batches</title>
  </head>
  <body>
    <h1>Fermentation Notebook</h1>
    <h2>Batches</h3>
    {{ range $b := .Batches.Batches }}
    <p>
      <h3>{{ $b.Name }}: {{ $b.Type }}</h3>
      <ul>
        {{ range $e := $b.Log }}
        <li>
          {{ $e.Date }}, {{ $e.Name }}
          <p>{{ nl2br $e.Notes }}</p>
        </li>
        {{ end }}
      </ul>
    </p>
    {{ end }}
  </body>
</html>

