<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="style.css" />
    <title>Batches</title>
  </head>
  <body>
    <img id="logo" src='icons/{{ .Icon }}.svg' />
    <h1>Fermentation Notebook</h1>
    <h2>Batches</h2>
    {{ range $b := .Batches.Current }}
    <p>
      <h3>{{ $b.Name }}: {{ $b.Type }}</h3>
      <ul>
        {{ range $l := $b.Log }}
        <li>
          <p>{{ $l.Date }}, {{ $l.Name }}</p>
          <ul>
            {{ range $i := $l.Ingredients }}
            <li>{{ $i.Type }} ({{ $i.Brand }}): {{ $i.Quantity }}</li>
            {{ end }}
          </ul>
          <p>{{ nl2br $l.Notes }}</p>
        </li>
        {{ end }}
      </ul>
    </p>
    {{ end }}

    <h2>Past batches</h2>
    {{ range $b := .Batches.Past }}
    <p>
      <h3>{{ $b.Name }}: {{ $b.Type }}</h3>
      <ul>
        {{ range $l := $b.Log }}
        <li>
          <p>{{ $l.Date }}, {{ $l.Name }}</p>
          <ul>
            {{ range $i := $l.Ingredients }}
            <li>{{ $i.Type }} ({{ $i.Brand }}): {{ $i.Quantity }}</li>
            {{ end }}
          </ul>
          <p>{{ nl2br $l.Notes }}</p>
        </li>
        {{ end }}
      </ul>
    </p>
    {{ end }}

    <p class='icon-license'>icon designed by Freepik from Flaticon</p>
  </body>
</html>

