@font-face {
  font-family: 'hack';
  src: url('hack.ttf');
}

body {
    font-family: 'hack', monospace;
    max-width: 1100px;
    margin:auto;
}

img#logo {
    margin-top: 10px;
    max-height: 75px;
}

.icon-license {
    margin-top: 30px;
    text-align: center;
    font-size: 0.6em;
}

h1 {
    text-align: center;
    border-bottom: 2px solid black;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

h2 {
    text-align:center;
    text-decoration:underline;
    margin-bottom:5px;
    margin-top:15px;
}
